# Server Configuration
PORT=5000
NODE_ENV=production

# Database Configuration (MongoDB)
MONGO_URI=mongodb+srv://hpv7408_db_user:your_password@cluster0.vhqmwbl.mongodb.net/billing360_db?appName=Cluster0

# Security (JWT)
JWT_SECRET=super_secret_jwt_sign_key_change_in_production
JWT_EXPIRE_IN=8h

# WhatsApp Gateway (Integration Ready)
WHATSAPP_API_URL=https://api.whatsapp-gateway.com/v1
WHATSAPP_API_TOKEN=your_whatsapp_client_token

# Email Server (STMP Ready)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=notifications@yourbusiness.com
SMTP_PASSWORD=your_app_password

# Tally Server Address
TALLY_HOST=http://127.0.0.1
TALLY_PORT=9000
